@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;1,700&family=EB+Garamond:ital,wght@1,700&family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Indie+Flower&display=swap");

/* first container */
.first-container {
  box-shadow: 0 30px 60px -12px rgb(88, 87, 87),
    0 18px 36px -18px rgba(7, 7, 7, 0.029),
    0 -12px 36px -8px rgba(22, 22, 22, 0.025);
  background-color: white;
  margin: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
/* img container */
.first__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2rem;
}
/* img file*/
.first-container .first__image {
  margin-top: 1rem;
  border-radius: 1rem;
  width: 10rem;
}

.first__content {
  margin-left: 1rem;
  padding: 1rem;
}

.self__name {
  font-family: "Balsamiq Sans", cursive;
}
.self .self__intro {
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Catamaran", sans-serif;
  font-weight: bold;
}

.worth {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: "Balsamiq Sans", cursive;
}
